@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
}

.header-bg {
    background-image: url(images/Netflix-bg.jpg);
    /* width: 100vw; */

    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

}

.bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.8) 100%);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

}

nav>div>img {
    width: 8.9rem;
    /* color: red; */
    position: relative;
    z-index: 11;
}

nav {
    height: 5rem;
    margin-top: 20px;
}

.navbar {
    display: flex;
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;

    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; - veritcal and horizontal scrolbar  */
}

.buttons {
    position: relative;
    z-index: 11;

}

.btn-english {
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    cursor: pointer;
    padding: 0.3rem 1.3rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.btn-signin {
    cursor: pointer;
    padding: 5px 12px;
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 4px;
    font-weight: 500;
    background-color: red;
    color: white;
}

.btn-signin:hover {
    background-color: rgb(237, 36, 36);
}

.hero {
    height: calc(100%-80px);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

}

.hero-first {
    max-width: 85vw;
    font-family: 'Martel Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
    line-height: 4rem;
    margin-top: 8rem;
}

.hero-second {
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-third {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.btn-start {
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    font-size: 1.3rem;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 500;
    background-color: red;
    color: white;
}

.btn-start:hover {
    background-color: rgb(237, 36, 36);
}

#email {

    padding: 0.9rem 6.2rem 0.9rem 0.6rem;
    font-size: 0.9rem;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    margin-bottom: 0.4rem;
}

.email-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sepration {
    height: 8px;
    background-color: rgb(84, 81, 81);
}

/* first section styling */

.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    max-width: 70vw;
    margin: auto;
    color: white;
    height: 70vh;
    overflow: hidden;
}

.first-section-text {
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0.5rem;
}

.first-section-img>img {
    width: 400px;

}

.first-section-img {
    position: relative;
}

.first-section-img>video {
    position: absolute;
    right: 0;
    top: 59px;
    left: 55px;
    z-index: -1;
    width: 320px;
    /* max-width: 73%; */
    /* max-height: 54%; */
}

.first-section-text :first-child {
    font-size: 3rem;
}

.first-section-text :nth-child(2) {
    font-size: 1.5rem;
}

.third-section-img>video {
    top: 45px;
    padding-left: 1rem;
    max-width: 60%;

}

/* faq section  */
.faq {
    color: white;
    /* background-color: black; */
    padding: 2rem;
    margin: 2rem 0;
}

.faq>h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.faq-box {
    display: flex;
    background-color: rgb(42, 41, 41);
    max-width: 70vw;
    margin: 0.7rem auto;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1.5s ease-out;
}

.faq-box>svg {
    filter: invert(1);
}

.faq-box:hover {
    background-color: rgb(108, 104, 104);
}

/* footer  */
footer {
    color: white;
    /* margin-top: 4rem ; */
    margin: 2rem auto;
    max-width: 60vw;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer a {
    color: white;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer .question {
    padding: 2rem 0;
}

/* media query */

@media screen and (max-width: 630px) {
    .hero-first {
        max-width: 90%;
        font-size: 1.9rem;
        margin-top: 5rem;
    }

    .hero-second {
        font-size: 1.2rem;
    }

    .hero-third {
        max-width: 80%;
    }

    .email-button {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        width: 90%;
    }

    .btn-english {
        padding: 0.3rem 0.6rem;
        font-size: 1rem;
        margin-right: 0.2rem;
    }

    .btn-signin {
        font-size: 1rem;
        padding: 5px 0.5rem;
    }

    nav {
        margin-top: 1.9rem;
    }

    nav>div>img {
        width: 6.5rem;
    }
    .footer {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .bg {
        /* height: 90vh; */
    }

    .header-bg {
        /* height: 90vh; */
    }

}

@media screen and (max-width: 840px) {
    .first-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .first-section-img>img {
        width: 296px;
    }

    .first-section-img>video {

        top: 48px;
        left: 40px;

        width: 225px;
    }
    .first-section-text :first-child {
        font-size: 2.4rem;
    }
    .third-section-img>video {
        top: 30px;
    }  
    .first-section-text :nth-child(2) {
        font-size: 1.3rem;
    }
}